@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #FAF9F6;
  --foreground: var(--clr-neutral-a40);
  --card: var(--clr-neutral-a0);
  --card-foreground: var(--clr-neutral-a50);
  --popover: var(--clr-neutral-a0);
  --popover-foreground: var(--clr-neutral-a50);
  --primary: var(--clr-primary-a0);
  --primary-foreground: var(--clr-neutral-a0);
  --secondary: var(--clr-neutral-a10);
  --secondary-foreground: var(--clr-neutral-a50);
  --muted: var(--clr-neutral-a20);
  --muted-foreground: var(--clr-neutral-a30);
  --accent: var(--clr-accent-a0);
  --accent-foreground: var(--clr-neutral-a50);
  --destructive: var(--clr-danger-a0);
  --destructive-foreground: var(--clr-neutral-a0);
  --border: var(--clr-neutral-a20);
  --input: var(--clr-neutral-a20);
  --ring: var(--clr-primary-a0);
  --chart-1: var(--clr-primary-a0);
  --chart-2: var(--clr-accent-a0);
  --chart-3: var(--clr-success-a0);
  --chart-4: var(--clr-warning-a0);
  --chart-5: var(--clr-info-a0);
  --sidebar: var(--clr-neutral-a0);
  --sidebar-foreground: var(--clr-neutral-a50);
  --sidebar-primary: var(--clr-primary-a0);
  --sidebar-primary-foreground: var(--clr-neutral-a0);
  --sidebar-accent: var(--clr-accent-a0);
  --sidebar-accent-foreground: var(--clr-neutral-a50);
  --sidebar-border: var(--clr-neutral-a20);
  --sidebar-ring: var(--clr-primary-a0);

  /** Primary colors */
  --clr-primary-a0: #a49b52;
  --clr-primary-a10: #877f45;
  --clr-primary-a20: #6b6538;
  --clr-primary-a30: #504b2b;
  --clr-primary-a40: #36331f;
  --clr-primary-a50: #1e1d14;

  /** Accent colors */
  --clr-accent-a0: #52a471;
  --clr-accent-a10: #45875e;
  --clr-accent-a20: #396a4b;
  --clr-accent-a30: #2d4f39;
  --clr-accent-a40: #213628;
  --clr-accent-a50: #151e17;

  /** Danger colors */
  --clr-danger-a0: #b41c2b;
  --clr-danger-a10: #851d22;
  --clr-danger-a20: #581919;
  --clr-danger-a30: #2f1310;

  /** Success colors */
  --clr-success-a0: #009f42;
  --clr-success-a10: #167533;
  --clr-success-a20: #184d25;
  --clr-success-a30: #132916;

  /** Warning colors */
  --clr-warning-a0: #f0ad4e;
  --clr-warning-a10: #af7f3c;
  --clr-warning-a20: #71532a;
  --clr-warning-a30: #392b19;

  /** Info colors */
  --clr-info-a0: #388cfa;
  --clr-info-a10: #3267b5;
  --clr-info-a20: #284475;
  --clr-info-a30: #1a253b;

  /** Neutral colors */
  --clr-neutral-a0: #ffffff;
  --clr-neutral-a10: #c6c6c6;
  --clr-neutral-a20: #919191;
  --clr-neutral-a30: #5e5e5e;
  --clr-neutral-a40: #303030;
  --clr-neutral-a50: #000000;
}

.dark {
  --background: #0B1215;
  --foreground: var(--clr-neutral-a0);
  --card: var(--clr-neutral-a40);
  --card-foreground: var(--clr-neutral-a0);
  --popover: var(--clr-neutral-a40);
  --popover-foreground: var(--clr-neutral-a0);
  --primary: var(--clr-primary-a10);
  --primary-foreground: var(--clr-neutral-a50);
  --secondary: var(--clr-neutral-a40);
  --secondary-foreground: var(--clr-neutral-a0);
  --muted: var(--clr-neutral-a30);
  --muted-foreground: var(--clr-neutral-a10);
  --accent: var(--clr-accent-a10);
  --accent-foreground: var(--clr-neutral-a50);
  --destructive: var(--clr-danger-a10);
  --destructive-foreground: var(--clr-neutral-a0);
  --border: var(--clr-neutral-a30);
  --input: var(--clr-neutral-a30);
  --ring: var(--clr-primary-a10);
  --chart-1: var(--clr-primary-a10);
  --chart-2: var(--clr-accent-a10);
  --chart-3: var(--clr-success-a10);
  --chart-4: var(--clr-warning-a10);
  --chart-5: var(--clr-info-a10);
  --sidebar: var(--clr-neutral-a40);
  --sidebar-foreground: var(--clr-neutral-a0);
  --sidebar-primary: var(--clr-primary-a10);
  --sidebar-primary-foreground: var(--clr-neutral-a50);
  --sidebar-accent: var(--clr-accent-a10);
  --sidebar-accent-foreground: var(--clr-neutral-a50);
  --sidebar-border: var(--clr-neutral-a30);
  --sidebar-ring: var(--clr-primary-a10);
  --navbar-background: #1A1A1A;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}